<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Feedly</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="ion-text-center" lines="none"> 
    <ion-icon name="logo-rss" class="logo" color="light"></ion-icon>
  </ion-item> 

  <ion-item text-center no-lines>
    
        <h1>feedly</h1>
    
    <h6>an app for continuos feed</h6>
  </ion-item>

  <ion-grid style="width: 75%">
      <ion-row class="rowStyle">
        <ion-icon name="mail" color="danger"></ion-icon>
        <ion-input type="email" placeholder="You email"></ion-input>
      </ion-row>

      <ion-row  class="rowStyle">
          <ion-icon name="key" color="danger"></ion-icon>
        <ion-input type="password" placeholder="You password"></ion-input>
      </ion-row>

      <ion-row>
        <ion-button color="light" fill="outline" expand="block" shape="round" 
          style="margin-top:20px;">Login</ion-button>
      </ion-row>
  </ion-grid>
  <ion-button expand="block" shape="round" fill="clear" color="light"
          style="margin-top:20px;" routerLink="/signup">Don't have an account? Sign up
  </ion-button>
</ion-content>
